/* fonts */
$font-fallback: Arial, sans-serif;
$font-primary: 'Helvetica', $font-fallback;

/* transitions */
$transition: 0.2s ease-in-out;

/* breakpoints */
$xxl: 1600px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

/* colors */
$color-primary: #387D52;
$color-link: #727272;
